<!DOCTYPE html>
<html>
<head>
    <title>NextStep</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Bosh sahifa</a> | 
        <a href="{% url 'about' %}">Biz haqimizda</a> |
        <a href="{% url 'todo_list' %}">Vazifalar</a> |
        <form method="GET" action="{% url 'search_info' %}" style="display: inline-block;">
        <input type="text" name="q" placeholder="Vazifalarni qidirish..." required 
               value="{{ request.GET.q }}" style="padding: 5px; width: 250px;">
        <button type="submit" style="padding: 5px 15px; cursor: pointer;">Izlash</button>
    </form>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

    <hr>
    <footer>© Nozimjon Qahorov </footer>
</body>
</html>